In [12]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [13]:
from google.colab import drive # 드라이브와 연결
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
Drought = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/광주가뭄지수.csv', encoding = "utf-8", engine='python')
Drought.head()

    지점 지점명          일시  SPI1  SPI2  SPI3  SPI4  SPI5  SPI6
0  156  광주  2022-10-01 -0.32 -1.48 -1.47 -1.42 -1.79 -1.96
1  156  광주  2022-10-02 -0.34 -1.48 -1.47 -1.41 -1.80 -2.00
2  156  광주  2022-10-03 -0.27 -1.51 -1.43 -1.41 -1.82 -2.00
3  156  광주  2022-10-04 -0.24 -1.59 -1.42 -1.39 -1.81 -2.00
4  156  광주  2022-10-05  0.16 -1.21 -1.23 -1.24 -1.65 -1.85

In [15]:
JAdam = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/주암댐.csv', encoding = "utf-8", engine='python')
JAdam.head()

,일시,댐수위(EL.m),방수로수위(EL.m),저수량(백만㎥),저수율(%),강우량(mm),유입량(㎥/s),자체유입(㎥/s),조절지댐 신구도수유입(㎥/s),총방류량(㎥/s),광천1호기(㎥/s),"광천2,3호기(㎥/s)",수문(㎥/s),OUTLET 방류량(㎥/s),신도수터널(본댐→조절지)(㎥/s),구도수터널(본댐→조절지)(㎥/s),보조여수로(㎥/s),광주취수량-광주천(㎥/s),광주천(㎥/s),Unnamed: 19
0,2023-01-18,94.0504,0.0,134.1573,29.4,0.0,5.983,-0.377,6.360,5.072,0.0,0.0,0.0,0.030,0.0,0.0,0.0,5.042,0.0,NaN
1,2023-01-17,94.0439,0.0,134.0786,29.3,0.0,9.376,3.678,5.698,5.051,0.0,0.0,0.0,0.030,0.0,0.0,0.0,5.021,0.0,NaN
2,2023-01-16,94.0130,0.0,133.7049,29.3,0.0,12.429,6.249,6.180,5.072,0.0,0.0,0.0,0.029,0.0,0.0,0.0,5.043,0.0,NaN
3,2023-01-15,93.9603,0.0,133.0693,29.1,0.1,14.384,8.067,6.317,4.997,0.0,0.0,0.0,0.029,0.0,0.0,0.0,4.968,0.0,NaN
4,2023-01-14,93.8928,0.0,132.2583,28.9,0.0,26.563,20.172,6.391,5.034,0.0,0.0,0.0,0.029,0.0,0.0,0.0,5.005,0.0,NaN

In [16]:
JA = JAdam[['일시','저수율(%)', '강우량(mm)']]
juam = JA.rename(columns={'저수율(%)':'주암댐저수율(%)'})
juam.head()

           일시  주암댐저수율(%)  강우량(mm)
0  2023-01-18       29.4      0.0
1  2023-01-17       29.3      0.0
2  2023-01-16       29.3      0.0
3  2023-01-15       29.1      0.1
4  2023-01-14       28.9      0.0

In [17]:
DBwater = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/DBwater.csv', encoding = "utf-8", engine='python')
date = DBwater['Datetime'].str.slice(0,10)
DBwater['일시'] = date
dongbok = DBwater.rename(columns={'저수율':'동북댐저수율(%)'})
dongbok.head()

   Unnamed: 0                   Datetime  동북댐저수율(%)          일시
0           0  2023-01-27 01:10:02+00:00      25.29  2023-01-27
1           1  2023-01-26 01:08:00+00:00      25.42  2023-01-26
2           2  2023-01-26 01:01:00+00:00      25.42  2023-01-26
3           3  2023-01-25 01:24:00+00:00      25.52  2023-01-25
4           4  2023-01-20 00:57:30+00:00      25.83  2023-01-20

In [18]:
Rain = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/광주일강수량.csv', encoding = "utf-8", engine='python')
Rain.head()

    지점 지점명          일시  일강수량(mm)
0  156  광주  2022-10-04      33.4
1  156  광주  2022-10-07       0.0
2  156  광주  2022-10-09       2.3
3  156  광주  2022-10-10       2.2
4  156  광주  2022-10-11       0.0

In [19]:
a = pd.merge(Drought, juam,  on='일시', how="outer") # 가뭄지수와 주암댐수치 merge
b = pd.merge(dongbok, Rain,  on='일시', how="outer") # 동복댐수치와 강우량 merge

In [20]:
data = pd.merge(a, b,  on='일시', how="outer") # 모든 데이터 '일시'를 기준으로 병합
data = data[['일시', 'SPI1', 'SPI2', 'SPI3', 'SPI4', 'SPI5', 'SPI6','주암댐저수율(%)','강우량(mm)', '동북댐저수율(%)']]

In [23]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/data.csv', encoding = "utf-8", engine='python')
dataa = data.fillna(method='bfill') # 결측값 처리
df = dataa.dropna(axis=0)
df.to_csv('df.csv', encoding='utf-8-sig') 
df

,Unnamed: 0,일시,SPI1,SPI2,SPI3,SPI4,SPI5,SPI6,주암댐저수율(%),강우량(mm),동북댐저수율(%)
0,0.0,2022-10-01,-0.32,-1.48,-1.47,-1.42,-1.79,-1.96,36.3,0.0,33.40
1,1.0,2022-10-02,-0.34,-1.48,-1.47,-1.41,-1.80,-2.00,36.0,0.0,33.40
2,2.0,2022-10-03,-0.27,-1.51,-1.43,-1.41,-1.82,-2.00,35.7,0.0,33.40
3,3.0,2022-10-04,-0.24,-1.59,-1.42,-1.39,-1.81,-2.00,35.6,28.9,33.40
4,4.0,2022-10-05,0.16,-1.21,-1.23,-1.24,-1.65,-1.85,35.4,0.0,33.40
...,...,...,...,...,...,...,...,...,...,...,...
103,103.0,2023-01-12,0.38,0.16,-1.03,-1.28,-1.21,-1.42,28.0,2.8,23.93
104,104.0,2023-01-13,0.37,-0.48,-0.97,-1.24,-1.16,-1.33,28.5,49.5,23.80
105,105.0,2023-01-14,1.13,0.01,-0.31,-0.85,-0.96,-1.18,28.9,0.0,25.83
106,106.0,2023-01-15,1.21,0.01,-0.29,-0.79,-0.93,-1.21,29.1,0.1,25.83
107,107.0,2023-01-16,1.20,0.01,-0.29,-0.74,-0.92,-1.19,29.3,0.0,25.83